body{

    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#222;
}

.chessboard{

    width:640px;
    height:640px;

    display:grid;

    grid-template-columns:repeat(8,1fr);
    grid-template-rows:repeat(8,1fr);

}

.square{

    display:flex;

    justify-content:center;
    align-items:center;

    font-size:50px;

}

.light{

    background:#f0d9b5;

}

.dark{

    background:#b58863;

}

.piece{

    cursor:grab;
    user-select:none;

}